{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}

{% block body %}
<main role="main">
  <div class="jumbotron py-5">
    <div class="container">

      <h2 class="display-5 mb-4">About Us</h2>

      <h4>Welcome to Navanath's Coffee Shop</h4>
      <p>At Coffee Shop, we celebrate the rich heritage and exquisite flavors of one of the world's most beloved coffees. Our journey began with a simple yet ambitious dream – to bring the authentic taste of Coffee to lovers everywhere.</p>

      <h4>Our Story</h4>
      <p>Coffee Shop was founded in 2025 by Navanath Latake, a passionate drink enthusiast with a deep love for traditional Indian cuisine. Inspired by the diverse regional variations of coffees, we set out to create a dining experience that captures the essence of this iconic drink.</p>

      <h4>Our Mission</h4>
      <p>Our mission is to be the go-to hangout spot for the youth and the young at heart — a place where people meet, make conversations, and have a great time over steaming cups of great coffee.</p>

      <h4>Our Values</h4>
      <ul>
        <li><b>Authenticity:</b> We honor traditional recipes and cooking techniques to deliver a genuine Coffee experience.</li>
        <li><b>Quality:</b> We source the freshest ingredients and the finest beans to ensure every sip is flavorful and satisfying.</li>
        <li><b>Community:</b> We believe in creating a warm, welcoming environment where everyone can enjoy the shared experience of good coffee.</li>
        <li><b>Innovation:</b> While we cherish tradition, we also embrace innovation to keep our menu exciting and dynamic.</li>
      </ul>

      <h4>Join Us</h4>
      <p>We invite you to join us at Coffee Shop and embark on a coffee adventure. Whether you're a lifelong fan or trying it for the first time, we promise a memorable experience that will leave you craving more.</p>

    </div>
  </div>
</main>
{% endblock body %}