{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}

{% block main-content %}
<main role="main">
    <!--Main Jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h5 class="display-4"><b>About Us</b></h5><br>
            <p><h4><b>Welcome to Coffee Shop</b></h4><br>
                At Coffee Shop, we celebrate the rich heritage and exquisite flavors of one of the world's most beloved coffees. Our journey began with a simple yet ambitious dream – to bring the authentic taste of Coffee to lovers everywhere.
                <h4><b>Our Story</b></h4>
                Coffee Shop was founded in [2025] by [Navanath latake], a passionated drink enthusiast with a deep love for traditional Indian cuisine. Inspired by the diverse regional variations of Coffees, we set out to create a dining experience that captures the essence of this iconic drink.
                <h4><b>Our Mission</b></h4>
                Our mission is the youth and the young at heart immediately took to the cafe, and it continues to be one of the most happening places in the city. CCD to the youth is a “hangout” spot where they meet people, make conversations, and have a whole lot of fun over steaming cups of great coffee.It's been an exciting journey since then to becoming the largest organised retail cafe chain in the country.
                <h4><b>Our Values</b></h4>
                <ul>
                    <li>
                        <b>Authenticity:</b>We honor traditional recipes and cooking techniques to deliver a genuine Coffee experience.
                    </li>
                    <li>
                        <b>Quality:</b>We source the freshest ingredients and the finest taste to ensure every zip is flavorful and satisfying.
                    </li>
                    <li>
                        <b>Community: </b>We believe in creating a warm, welcoming environment where everyone can enjoy the shared experience of good shop.
                    </li>
                    <li>
                        <b>Innovation:</b>While we cherish tradition, we also embrace innovation to keep our menu exciting and dynamic.
                    </li>
                </ul>
                <h4><b>What Sets Us Apart</b></h4>
               
                <h4><b>Join Us</b></h4>
                We invite you to join us at Coffee Shop and embark on a culinary adventure. Whether you're a lifelong fan of Coffee or trying it for the first time, we promise a memorable sitting experience that will leave you craving more.
            </p>
        </div>
    </div>
</main>
<footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary">
    <div class="container">
        <h6 class="align-text=center">You must visit the nearest branch of My Coffee Shop.</h6><br>
    </div>
    <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
    <div class="row">
        <div class="col-lg-3 mb-3">
        <h4>My Coffee Shop</h4>
          <ul>
            <li class="mb-2"><a href="/">Mumbai</a></li>
            <li class="mb-2"><a href="/">Navi Mumbai</a></li>
            <li class="mb-2"><a href="/">Pune</a></li>
            <li class="mb-2"><a href="/">Pimpri-Chinchwad</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 offset-lg-1 mb-3">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="/">Home</a></li>
            <li class="mb-2"><a href="/about">About Us</a></li>
            <li class="mb-2"><a href="/services">Services</a></li>
            <li class="mb-2"><a href="/contact">Contact Us</a></li>
            <li class="mb-2"><a href="/">Blog</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Guides</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="/docs/5.3/getting-started/">Getting started</a></li>
            <li class="mb-2"><a href="/docs/5.3/examples/starter-template/">Starter template</a></li>
            <li class="mb-2"><a href="/docs/5.3/getting-started/webpack/">Webpack</a></li>
            <li class="mb-2"><a href="/docs/5.3/getting-started/parcel/">Parcel</a></li>
            <li class="mb-2"><a href="/docs/5.3/getting-started/vite/">Vite</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Projects</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="https://github.com/twbs/bootstrap" target="_blank" rel="noopener">Bootstrap 5</a></li>
            <li class="mb-2"><a href="https://github.com/twbs/bootstrap/tree/v4-dev" target="_blank" rel="noopener">Bootstrap 4</a></li>
            <li class="mb-2"><a href="https://github.com/twbs/icons" target="_blank" rel="noopener">Icons</a></li>
            <li class="mb-2"><a href="https://github.com/twbs/rfs" target="_blank" rel="noopener">RFS</a></li>
            <li class="mb-2"><a href="https://github.com/twbs/examples/" target="_blank" rel="noopener">Examples repo</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Community</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="https://github.com/twbs/bootstrap/issues" target="_blank" rel="noopener">Issues</a></li>
            <li class="mb-2"><a href="https://github.com/twbs/bootstrap/discussions" target="_blank" rel="noopener">Discussions</a></li>
            <li class="mb-2"><a href="https://github.com/sponsors/twbs" target="_blank" rel="noopener">Corporate sponsors</a></li>
            <li class="mb-2"><a href="https://opencollective.com/bootstrap" target="_blank" rel="noopener">Open Collective</a></li>
            <li class="mb-2"><a href="https://stackoverflow.com/questions/tagged/bootstrap-5" target="_blank" rel="noopener">Stack Overflow</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
{% endblock main-content %}
